.mobile_menu {
  display: none;
  position: relative;
  width: 30px;
  cursor: pointer;
}

.active_mobile_menu {
  width: 30px;
  position: relative;
  z-index: 3;
}
.mobile_line_middle {
  margin-bottom: 7px;
  top: 8px;
  display: block;
        
  height: 3px;
  width: 15px;
  background-color: black;
  border-radius: 2px;
  transition: all .5s;
}
.mobile_line {
  margin-bottom: 7px;
  top: 8px;
  display: block;
        
  height: 3px;
  width: 30px;
  background-color: var(--color-black);
  border-radius: 2px;
  transition: all .5s;
}

.active_mobile_menu .mobile_line:first-child {
  top: 10px;
  position: absolute;
  background-color: var(--color-white);
  transform: rotate(45deg);
  transition: var(--transition);
}

.active_mobile_menu .mobile_line_middle {
  background-color: transparent;
}
.active_mobile_menu .mobile_line:last-child {
  top: 10px;

  background-color: var(--color-white);
  transform: rotate(-45deg);
  transition: var(--transition);
}

@media (max-width: 780px) {
  .mobile_menu {
    display: block;
  }
} 

