input:hover{
  border: none;
  box-shadow: 0 0 0 2px var(--color-primary); 
}
.price_search_form {
  padding: 9px 12px;

  width: 103px;
  height: 40px;

  border: 1px solid var(--color-black);
  border-radius: 6px;
}

.discount_input {
  padding-left: 50px;

  height: 75px;
	font-size: 18px;

  border-radius: 25px;
  outline: none;
  border: 2.395px solid var(--color-white);
}

.order_input {
  padding-left: 25px;

  font-size: 18px;
  width: 100%;
  height: 70px;
  background-color: var(--color-white);

  border: 1px solid var(--color-black);
  border-radius: 20px;
  outline: none;
}

@media (max-width: 1320px) {
  .order_input{
    max-width: 400px;
  }
}

@media (max-width: 1100px) {
  .price_search_form {
    width: 80px;
  }
}

@media (max-width: 550px) {
  .discount_input {
    height: 40px;
    font-size: 15px;
  }
  .order_input{
    max-width: 300px;
    font-size: 20px;
  } 
}

